.container {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.rounded {
  width: 300px;
  height: 300px;
}
.rounded-circle {
  width: 300px;
  height: 300px;
}
.img-thumbnail {
  width: 275px;
  height: 150px;
}
.rounded,
.rounded-circle,
.img-thumbnail {
  margin-left: 20px;
  margin-right: 20px;
}